/*Body styling*/

body{
  font:15px/1.5 Georgia, Helvetica, sans-serif;
  margin:0;
  background: black;
}

/*Other Body styling*/

.bb{
  font:15px/1.5 Georgia, Helvetica, sans-serif;
  margin:0;
  background:url('../img/bb.png');
  background-size:10% 10%;
}

/*container styling*/

.container{
  width: 95%;
  margin:auto;
  overflow:hidden;
}

/*UL styling*/

ul{
  margin:0;
  padding:0;
}

/*About Page Dark Styling*/

.dark{
  padding:15px;
  background:#000000;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width:auto;
}

/*Header styling*/

header{
  background: #2c1503;
  color: tan;
  padding-top:5px;
  min-height:30px;
  border-bottom: brown 3px solid;
  font-family: georgia;
  width: 100%;
  position: fixed;
  z-index:1;
  font-size: 75%;
}

#fadingheader{
  background: #2c1503;
  color: tan;
  padding-top:0px;
  min-height:15px;
  border-bottom: brown 3px solid;
  font-family: georgia;
  width: 100%;
  position: fixed;
  z-index:1;
  opacity: 50%;
  font-size: 50%;

}

header a{
  color: tan;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px;
}

header img{
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

header li{
  display:inline-block;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
  margin-left: 10px;
}

header #branding h1{
  margin-top: 2px;
  font-size: 150%;
  font-family: georgia;
}

header .middle{
  list-style: none;
  padding: 0;
  width: 600px;
  margin: 0 auto;
}
header .right{
  float: right;
  margin-top: 5px;
  margin-right: 0px;
}

header .highlight, header .current a{
  color:brown;
  font-weight: bold;

}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

/*Consistent Page Styling*/

#showcase{
  min-height:800px;
  background:url('../img/sand.jpg') no-repeat;
  background-size:100% 100%;
  text-align: center;
  color: #ffffff;
}


#showcase h1{
  margin-top: 200px;
  font-size: 35px;
  margin-bottom:0px;
  color: #cfcfcf;

}

#showcase h2{
  margin-top: 150px;
  font-size: 40px;
  margin-bottom:0px;
  color: #cfcfcf;
  text-shadow: -10px 10px 0px #708090,
                 -20px 20px 0px #696969,
                 -30px 30px 0px #000000;

}

#showcase h3{
  margin-top: 80px;
  font-size: 25px;
  color: #cfcfcf;
  float: left;
}

#showcase p{
  font-size: 20px;
}

#showcase #date{
  margin-top: 80px;
  font-size: 25px;
  color: #cfcfcf;
  float: left;
  margin-left: 20px;
}

#showcase-2{
  min-height:500px;
  background:url('../img/sand.jpg') no-repeat;
  background-size:100% 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}


#showcase-2 h1{
  margin-top: 150px;
  font-size: 55px;
  margin-bottom:0px;
  color: #cfcfcf;
  text-shadow: -10px 10px 0px #708090,
                 -20px 20px 0px #696969,
                 -30px 30px 0px #000000;

}

#showcase-2 h2{
  margin-top: 60px;
  font-size: 20px;
  margin-right:325px;
  color: #cfcfcf;


}

#showcase-2 h3{
  margin-top: 80px;
  font-size: 25px;
  color: #cfcfcf;
  float: left;
}

#showcase-2 p{
  font-size: 20px;
}

#showcase-2 #date{
  margin-top: 80px;
  font-size: 25px;
  color: #cfcfcf;
  float: left;
  margin-left: 20px;
}

/*About Page Styling*/

#about{
  padding:0px;
  color: tan;
  background-color: #2c1503;
  text-align: center;
  font-family: georgia;
}

#about h2{
  font-family: georgia;
  font-size: 300%;
}

.dark{
  height: calc(100% / 4);
}

aside#sidebar{
  width: 100%;
  height: 100%;
}

aside#sidebar ul img{
  height: 50px;
  width: 50px;
}

aside#sidebar li{
  display:inline;
  padding: 0 20px 0 20px;
  display:inline-block;
}

aside h1, aside h2, aside h3, aside p{
  font-size: 250%;
}

aside#sidebar p img
{
  height: 250px;
  width: 250px;
}



/*Blog Post styling*/

.blogs{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  display: inline;
  width: 50%;
}

.posts p{
  text-align: center;
}


.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

.fakeimg img{
  height: 350px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.post {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.user {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.blogs:after {
  content: "";
  display: table;
  clear: both;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

/*Footer*/

footer{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  position: absolute;
  padding: 1rem;
  right: 0;
  left: 0;
}

/*For iPhone (Still a work-in-progress)*/

@media(max-width: 768px) {

  header #branding{
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  header nav,
  header nav li{
    width: auto;
    max-height: 55px;
    display: inline-block;
    padding: 0 2px 0 2px;
  }

  header a{
    margin: 2px;
    margin-top: 2px;
    font-size: auto;

  }

  header li{
    margin: 2px;
    margin-top: 2px;
  }

  aside#sidebar{
    text-align: center;
    float: none;
    font-size: 50%;
    width: auto;
  }

  #showcase h1{
    margin-top: 40px;
  }

  .blogs{
    width: auto;
  }

  .blogs img{
    width: 90%;
  }

  .dark2{
    width: 100%;
  }

  .dark img{
    width: auto;
  }

  #image_list1{
    display: inline-block;
  }
}
